<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconexión" href="https://fonts.googleapis.com">
    <link rel="preconexión" href="https://fonts.gstatic.com" crossorigin>
    <link href=" https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--inicio encabezado-->
        <div class="top-header">
            <div class="logotipo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logotipo de Mercado Liebre">
            </div>
            <div class="formulario" action="#" method="GET">
                <input class="box-shadow" type="search" id="search" name="search" placeholder="Buscar productos, marcas y más">
                <i class="fa fa-search"></i>
            </div>
            <un><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</un>
        </div>
        <!--fin top-header-->

        <nav>
            <!--inicio de nav-->
            <ul class="first-list">
                <!--inicio primera-lista-->
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Vendedor</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <!--fin primera-lista-->
            <ul class="second-list">
                <!--inicio segunda-lista-->
                <li>
                    <a href="/registrarse">Creá tu cuenta<i class="fas fa-address-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-cesta-de-la-compra"></i></a>
                </li>
            </ul>
            <!--fin primera-lista-->
        </nav>
        <!--fin de nav-->
        <div class="burger-menu">
            <!--inicio menú hamburguesa-->
            <i class="fas fa-bars"></i>
        </div>
        <!--fin menú hamburguesa-->
    </header>
    <main class="main-register">
        <div class="register" action="/" method="POST">
            <h1>¡Regístrese!</h1>
            <label for="nombreyapellido"></label>
            <input class="box-shadow" type="text" id="name" name="name" placeholder="Nombre y apellido" required>
            <label for="nombreusuario"></label>
            <input class="box-shadow" type="text" id="name" name="user_name" placeholder="Nombre de usuario" required>
            <label for="correo electrónico"></label>
            <input class="box-shadow" type="email" id="mail" name="user_mail" placeholder="Correo electrónico" required>
            <p>Fecha de nacimiento</p>
            <label for="fechadenacimiento"></label>
            <input class="box-shadow" type="date" name="birth" id="birth" required>
            <label for="domicilio"></label>
            <input class="box-shadow" type="text" name="" id="" placeholder="Domicilio" required>
            <p>Tipo de usuario</p>
            <label for="tipodeusuario"></label>
            <div class="user_kind">
                <label for="">Comprador</label>
                <input class="espacio" type="radio" name="user_kind" id="user_kind" required>
                <label for="">Vendedor</label>
                <label for="espacio" type="radio" name="user_kind" id="user_kind" required></label>
            </div>
            <h4>intereses</h4>
            <label for="intereses"></label>
            <div class="user_interests">
                <label class="labelTitle" for=""><input class="espacio" type="checkbox" name="interest" id="" value="electro">Electro</label>
                <label class="labelTitle" for=""><input class="espacio" type="checkbox" name="interest" id="" value="moda">Moda</label>
                <label class="labelTitle" for=""><input class="espacio" type="checkbox" name="interest" id="" value="hogar">Hogar</label>
                <label class="labelTitle" for=""><input class="espacio" type="checkbox" name="interest" id="" value="jugueteria">Juguetería</label>
                <label class="labelTitle" for=""><input class="espacio" type="checkbox" name="interest" id="" value="VidaSana">Vida sana</label>
            </div>
            <label for="fotodeperfil"></label>
            <input class="formGroup" type="file" name="user_photo" id="user_photo" name="user_photo" placeholder="Foto de perfil" required>
            <label for="contraseña"></label>
            <input class="box-shadow" type="password" id="password" name="password" placeholder="Contraseña" required>
            <label for="confirmarcontraseña"></label>
            <input class="box-shadow" type="password" id="password" name="password" placeholder="Confirmar contraseña" required>
            <div class="grupo-botones">
                <button class="botones" type="reset">Borrar</button>
                <button class="botones " type="submit ">Enviar</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container ">
            <article>
                <i class="fas fa-credit-card "></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>
            </article>
            <article>
                <i class="fas fa-gift "></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p><br>
            </article>
            <article>
                <i class="fas fa-user-shield "></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p><br>
            </article>
        </div>
        <div class="copyright ">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>